<div class="dice-roll">
  <div class="card dice-roll-section">
    <h2>
      Welcome to Character Maker for CALL of CTHULU 2010.
    </h2>
    <p>
      クトゥルフ神話の恐ろしい世界へようこそ。まずはサイコロを振って、あなたの探索者のステータスを決めましょう。<br>
      出目が気に入らない場合<STRONG>３回まで</STRONG>サイコロを振り直すことができます。
    </p>
    <p class="red">
      <STRONG>CAUTION!!</STRONG> 一度探索者を作り始めたら、ブラウザの「戻る」や「更新」を押さないでください。努力が無駄になってしまいます！
    </p>
    <span class="btn" (click)="onClick()">Dice Roll</span>
    <p>
      This is your searcher's status!
    </p>
    <div class="clearfix">
      <div class="result-contents">
        <ul>
          <li>STR : {{searcher.status.STR}}</li>
          <li>DEX : {{searcher.status.DEX}}</li>
          <li>INT : {{searcher.status.INT}}</li>
          <li>CON : {{searcher.status.CON}}</li>
          <li>APP : {{searcher.status.APP}}</li>
        </ul>
      </div>
      <div class="result-contents">
        <ul>
          <li>POW : {{searcher.status.POW}}</li>
          <li>SIZ : {{searcher.status.SIZ}}</li>
          <li>SAN : {{searcher.status.SAN}}</li>
          <li>EDU : {{searcher.status.EDU}}</li>
        </ul>
      </div>
      <div class="result-contents">
        <ul>
            <li class="roll">アイデア : {{searcher.statusRoll.idea}}</li>
            <li class="roll">幸運 : {{searcher.statusRoll.luck}}</li>
            <li class="roll">知識 : {{searcher.statusRoll.knowledge}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card result-section">
    <h2>
      Check the Status and Go to Next Step.
    </h2>
    <p>
      この結果を使うことに決めたら、サイドバーから「Ability」のタブをクリックして次へ進みましょう。
    </p>
  </div>
</div>