<div class="print-section card">
  <h2>Print This Character Sheet and Play!</h2>
  <p>これで探索者は完成です。下のボタンからPDFとしてキャラクターシートをプリントアウトし、探索を始めましょう。幸運を祈っています。<br>
  MARK: 印刷のサイズはA4の場合80%を目安とし、ブラウザの印刷プレビューで確認して調整してください。また、正確に印刷するために「背景のグラフィック」をONにしてください。</p>
  <span class="btn" (click)="print()">Print This Character Sheet</span>
</div>
<div class="view card clearfix">
  <div class="left-section">
    <div class="first-row row underLined clearfix">
      <div class="basicInformation">
        <h2>基礎情報</h2>
        <ul *ngFor="let item of basicInformation">
          <li>{{basicInformationLabel[item]}}: {{searcher[item]}}</li>
        </ul>
      </div>
      <div class="status">
        <h2>能力値と能力値ロール</h2>
        <ul class="status-contents clearfix">
          <li class="state">STR : {{searcher.status.STR}}</li>
          <li class="state">DEX : {{searcher.status.DEX}}</li>
          <li class="state">INT : {{searcher.status.INT}}</li>
        </ul>
        <ul class="status-contents clearfix">
          <li class="state">CON : {{searcher.status.CON}}</li>
          <li class="state">APP : {{searcher.status.APP}}</li>
          <li class="state">POW : {{searcher.status.POW}}</li>
        </ul>
        <ul class="status-contents clearfix">
          <li class="state">SIZ : {{searcher.status.SIZ}}</li>
          <li class="state">SAN : {{searcher.status.SAN}}</li>
          <li class="state">EDU : {{searcher.status.EDU}}</li>
        </ul>
        <ul class="status-contents clearfix">
          <li class="state">アイデア : {{searcher.statusRoll.idea}}</li>
          <li class="state">幸運 : {{searcher.statusRoll.luck}}</li>
          <li class="state">知識 : {{searcher.statusRoll.knowledge}}</li>
        </ul>
      </div>
    </div>

    <div class="second-row row clearfix">
      <h2>探索者の技能</h2>
      <div class="ability clearfix">
        <table class="ability-table">
          <tr *ngFor="let ability of searcher.firstAbilities">
            <td class="ability-name">{{ability[0]}}<span *ngIf="ability[1]">（{{ability[1]}}）</span></td>
            <td class="ability-sum">{{ability[5]}}</td>
          </tr>
        </table>
        <table class="ability-table secondTable">
          <tr *ngFor="let ability of searcher.secondAbilities">
            <td class="ability-name">{{ability[0]}}<span *ngIf="ability[1]">（{{ability[1]}}）</span></td>
            <td class="ability-sum">{{ability[5]}}</td>
          </tr>
        </table>
        <table class="ability-table thirdTable">
          <tr *ngFor="let ability of searcher.battleAbilities">
            <td class="ability-name">{{ability[0]}}<span *ngIf="ability[1]">（{{ability[1]}}）</span></td>
            <td class="ability-sum">{{ability[5]}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="right-section">
    <div class="first-row row underLined">
      <h2>探索者のデータ</h2>
        <ul *ngFor="let item of detailInformation">
          <li>{{detailInformationLabel[item]}}: {{searcher[item]}}</li>
        </ul>
    </div>
    <div class="second-row row underLined">
      <h2>探索者の履歴</h2>
      <p>{{searcher.history}}</p>
    </div>
    <div class="third-row row clearfix">
      <div class="left-subSection">
        <div class="underLined">
          <h2>収入と財産</h2>
          <ul *ngFor="let item of assetInformation">
            <li>{{assetInformationLabel[item]}}: {{searcher[item]}}</li>
          </ul>
        </div>
        <h2>冒険の装備と所持品</h2>
        <p>{{searcher.belongings}}</p>
      </div>
      <div class="right-subSection">
        <h2>神話的経験</h2>
        <ul *ngFor="let item of cthulhuInformation">
          <li>{{cthulhuInformationLabel[item]}}:<br> {{searcher[item]}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>